<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="dark">Monitor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

  <ion-row align-items-center>
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-badge color="success">Online</ion-badge>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>

  <!-- Dados locais -->
  <ion-card *ngFor="let monitor of monitor">
    <!-- Dados do servidor -->
    <!-- <ion-card> -->
    <ion-item color="dark">
      <ion-label>
        ID: {{monitor.id}}
        <br>
        <hr>
        Corrente: {{monitor.corrente}}
        <br>
        <hr>
        Tensão: {{monitor.tensao}}
        <br>
        <hr>
        <small>Horário: {{datePage}} {{timePage}}</small>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-img src="../../../assets/arcweld.jpg" width="20px"></ion-img>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-tabs>

      <ion-tab-bar color="dark">

        <ion-tab-button expand="full" routerLink="/menu/monitor">
          <ion-label color="primary">Monitor</ion-label>
          <ion-icon name="tv" color="primary"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/calculo">
          <ion-label color="light">Relatório</ion-label>
          <ion-icon name="pulse" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/historico">
          <ion-label color="light">Histórico</ion-label>
          <ion-icon name="list" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/sobre">
          <ion-label color="light">Sobre</ion-label>
          <ion-icon name="hammer" color="light"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>