<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="dark">Monitor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

  <ion-row align-items-center>
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-badge color="success">Online</ion-badge>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header>

      <h5 *ngFor="let item of items">
        {{item.date}} {{item.hour}}
      </h5>
      <h1> {{nome_da_maquina}}</h1>
      <ion-card-subtitle color="light">Máquina analisada: </ion-card-subtitle>
      <ion-card-subtitle *ngFor="let machine of machines" color="warning">
        <p> {{machine.name}} </p>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="light" *ngFor="let item of items">
      <h6>{{item.corrente}} {{item.valueCorrente}}</h6>
      <h6>{{item.tensao}} {{item.valueTensao}}</h6>
      <h6>{{item.mediaKwH}} {{item.valueMediaKwH}}</h6>
      <h6>{{item.consumo}} {{item.valueConsumo}}</h6>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-tabs>

      <ion-tab-bar color="dark">

        <ion-tab-button expand="full" routerLink="/menu/monitor">
          <ion-label color="primary">Monitor</ion-label>
          <ion-icon name="tv" color="primary"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/calculo">
          <ion-label color="light">Relatório</ion-label>
          <ion-icon name="pulse" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/historico">
          <ion-label color="light">Histórico</ion-label>
          <ion-icon name="list" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/sobre">
          <ion-label color="light">Sobre</ion-label>
          <ion-icon name="hammer" color="light"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>