<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="dark">Monitor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

  <ion-row align-items-center>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="light">Máquina analisada: </ion-card-subtitle>
        <ion-card-subtitle *ngFor="let machine of machines" color="warning">
          <p> {{machine.title}} </p>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content color="light" *ngFor="let item of items">
          <h6>{{item.title}} {{item.valor}}</h6>
      </ion-card-content>
    </ion-card>
  </ion-row>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    
      <ion-tabs>

        <ion-tab-bar color="dark">

          <ion-tab-button expand="full" routerLink="/menu/monitor">
            <ion-label color="primary">Monitor</ion-label>
            <ion-icon name="pulse" color="primary"></ion-icon>
          </ion-tab-button>

          <ion-tab-button expand="full" routerLink="/menu/historico">
            <ion-label color="light">Histórico</ion-label>
            <ion-icon name="list" color="light"></ion-icon>
          </ion-tab-button>

          <ion-tab-button expand="full" routerLink="/menu/sobre">
            <ion-label color="light">Sobre</ion-label>
            <ion-icon name="hammer" color="light"></ion-icon>
          </ion-tab-button>

        </ion-tab-bar>
      </ion-tabs>
    
  </ion-toolbar>
</ion-footer>