<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Relatório</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <form (ngSubmit)="ngOnInit()">
    <ion-item color="dark">
      <!-- <ion-searchbar type="date" placeholder="Data Início" [(ngModel)]="dataInicio" name="inicio" color="light"> -->
      <!-- Somente local -->
      <ion-searchbar value="17/02/2016" placeholder="Data Início" [(ngModel)]="dataInicio" name="inicio" color="light">
      </ion-searchbar>
    </ion-item>
    <ion-item color="dark">
      <!-- <ion-searchbar type="date" placeholder="Data Início" [(ngModel)]="dataFim" name="fim" color="light"> -->
      <!-- Somente local -->
      <ion-searchbar value="17/02/2016" placeholder="Data Início" [(ngModel)]="dataFim" name="fim" color="light">
      </ion-searchbar>
    </ion-item>
    <ion-row align-items-center>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-button expand="block" type="submit">Pesquisar</ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>


    <!-- <ion-card> -->
    <!-- Somente local -->
    <ion-card *ngFor="let listHistory of listHistory">
      <ion-item color="dark">
        <ion-label>
          Corrente: {{listHistory.somaCorrente}}
          <br>
          <hr>
          Tensão: {{listHistory.somaTensao}}
          <br>
          <hr>
          Custo total: R$ {{listHistory.custoTotal}}
          <br>
          <hr>
        </ion-label>
      </ion-item>
    </ion-card>
  </form>
</ion-content>


<ion-footer>
  <ion-toolbar>

    <ion-tabs>

      <ion-tab-bar color="dark">

        <ion-tab-button expand="full" routerLink="/menu/monitor">
          <ion-label color="light">Monitor</ion-label>
          <ion-icon name="tv" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/calculo">
          <ion-label color="danger">Relatório</ion-label>
          <ion-icon name="pulse" color="danger"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/historico">
          <ion-label color="light">Histórico</ion-label>
          <ion-icon name="list" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/sobre">
          <ion-label color="light">Sobre</ion-label>
          <ion-icon name="hammer" color="light"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>