<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Cálculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let history of listHistory">
    <ion-item href="#" class="activated">
      <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
      <ion-label>ID: {{history.id}}</ion-label>
      <ion-label>Corrente: {{history.corrente}}</ion-label>
      <ion-label>Tensão: {{history.tensao}}</ion-label>
      <ion-label>Data: {{history.registroData}}</ion-label>
    </ion-item>

  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-tabs>

      <ion-tab-bar color="dark">

        <ion-tab-button expand="full" routerLink="/menu/monitor">
          <ion-label color="light">Monitor</ion-label>
          <ion-icon name="pulse" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/calculo">
          <ion-label color="danger">Cálculo</ion-label>
          <ion-icon name="calculator" color="danger"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/historico">
          <ion-label color="light">Histórico</ion-label>
          <ion-icon name="list" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/sobre">
          <ion-label color="light">Sobre</ion-label>
          <ion-icon name="hammer" color="light"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>