<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Relatório</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <ion-searchbar showCancelButton cancelButtonText="Custom Cancel" placeholder="Data Início"></ion-searchbar>
  <ion-searchbar showCancelButton cancelButtonText="Custom Cancel" placeholder="Data Fim"></ion-searchbar>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Detalhes</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Corrente: {{listHistory.somaCorrente}}</p>
      <p>Tensão: {{listHistory.somaTensao}}</p>
      <p>Custo total: R$ {{listHistory.custoTotal}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-tabs>

      <ion-tab-bar color="dark">

        <ion-tab-button expand="full" routerLink="/menu/monitor">
          <ion-label color="light">Monitor</ion-label>
          <ion-icon name="tv" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/calculo">
          <ion-label color="danger">Relatório</ion-label>
          <ion-icon name="pulse" color="danger"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/historico">
          <ion-label color="light">Histórico</ion-label>
          <ion-icon name="list" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/sobre">
          <ion-label color="light">Sobre</ion-label>
          <ion-icon name="hammer" color="light"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>