<ion-header>
  <ion-toolbar color="success">
    <ion-title color="dark">Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

  <ion-searchbar debounce="500" animated="true" placeholder="Pesquisa" ionInput color="light" cancel-button-icon
    [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>

  <ion-card *ngFor="let monitor of monitorHistory">
    <ion-item color="dark">
      <ion-label>
        ID: {{monitor.id}}
        <br>
        <hr>
        Corrente: {{monitor.corrente}}
        <br>
        <hr>
        Tensão: {{monitor.tensao}}
        <br>
        <hr>
        <small>Data: {{monitor.registroData}}</small>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
<ion-footer slot="bottom">
  <ion-toolbar>

    <ion-tabs>

      <ion-tab-bar color="dark">
        <ion-tab-button expand="full" routerLink="/menu/monitor">
          <ion-label color="light">Monitor</ion-label>
          <ion-icon name="pulse" color="light"></ion-icon>
        </ion-tab-button>
        
        <ion-tab-button expand="full" routerLink="/menu/calculo">
          <ion-label color="light">Cálculo</ion-label>
          <ion-icon name="calculator" color="light"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/historico">
          <ion-label color="success">Histórico</ion-label>
          <ion-icon name="list" color="success"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" routerLink="/menu/sobre">
          <ion-label color="light">Sobre</ion-label>
          <ion-icon name="hammer" color="light"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>