<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

  <ion-card *ngFor="let monitor of monitorHistory">
    <ion-item>
      <ion-label>
        <p>{{monitor.corrente}} {{monitor.valorCorrente}}
          <br>
          {{monitor.tensao}} {{monitor.valorTensao}}
          <br>
          {{monitor.tempoAR}} {{monitor.valorAA}}
        </p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-tabs>

        <ion-tab-bar slot="bottom">

          <ion-tab-button expand="full" routerLink="/menu/monitor">
            <ion-label>Monitor</ion-label>
            <ion-icon name="pulse"></ion-icon>
          </ion-tab-button>

          <ion-tab-button expand="full" routerLink="/menu/historico">
            <ion-label>Histórico</ion-label>
            <ion-icon name="list"></ion-icon>
          </ion-tab-button>

          <ion-tab-button expand="full" routerLink="/menu/sobre">
            <ion-label>Sobre</ion-label>
            <ion-icon name="hammer"></ion-icon>
          </ion-tab-button>

        </ion-tab-bar>
      </ion-tabs>
    </ion-title>
  </ion-toolbar>
</ion-footer>